@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: linear-gradient(304.65deg, #ff4e18 -21.13%, #fff4ed 114.71%);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
